## RQ1

#### Dataset organization

In [2]:
import networkx as nx
import pandas as pd

In [96]:
wiki_graph = pd.read_csv("wikigraph_reduced.csv", sep='\t')

In [97]:
wiki_graph.columns

Index(['Unnamed: 0', '0', '1'], dtype='object')

In [98]:
wiki_graph

        Unnamed: 0        0        1
0              796       95  1185516
1              909      108  1059989
2              910      108  1062426
3              911      108  1161925
4             1141      134   541222
...            ...      ...      ...
483089    28511768  1791481  1060990
483090    28511769  1791481  1061382
483091    28511771  1791481  1110380
483092    28511772  1791482    80740
483093    28511785  1791484   235100

[483094 rows x 3 columns]

In [99]:
wiki_graph.rename(columns={'Unnamed: 0':'Edge ID',
                          '0':'Source Link',
                          '1':'Target Link'},
                 inplace=True)

In [101]:
#Wikigraph reduced DataFrame

wiki_graph = wiki_graph.set_index('Edge ID')

In [102]:
wiki_graph

          Source Link  Target Link
Edge ID
796                95      1185516
909               108      1059989
910               108      1062426
911               108      1161925
1141              134       541222
...               ...          ...
28511768      1791481      1060990
28511769      1791481      1061382
28511771      1791481      1110380
28511772      1791482        80740
28511785      1791484       235100

[483094 rows x 2 columns]

In [103]:
#PageNames DataFrame

page_names = pd.read_csv('wiki-topcats-page-names.txt',names=['id'])
page_names[['id','name_of_page']] = page_names["id"].str.split(" ", 1, expand=True)
page_names["name_of_page"] = page_names["name_of_page"].str.strip("-")
page_names = page_names.set_index('id')
print(page_names)

                                    name_of_page
id
0                              Chiasmal syndrome
1                                    Kleroterion
2                                       Pinakion
3        LyndonHochschildSerre spectral sequence
4                         Zariski's main theorem
...                                          ...
1791484           Noadiah Russell (Yale founder)
1791485                       Cornus officinalis
1791486                           Peter Grummitt
1791487                           Baron Estcourt
1791488                         Catherine Dubosc

[1791489 rows x 1 columns]

In [104]:
page_names.columns

Index(['name_of_page'], dtype='object')

In [117]:
#PagesPerCategory DataFrame

pages_per_categories = pd.read_csv('wiki-topcats-categories.txt',names=['cats'])
#pages_per_categories['cats'] = pages_per_categories["cats"].str.split(" ", expand=True)
pages_per_categories = pd.DataFrame(pages_per_categories.cats.str.split(' ',1).tolist(), columns = ['cats','pages'])
pages_per_categories["cats"] = pages_per_categories["cats"].str.strip("-")
pages_per_categories['cats'] = pages_per_categories['cats'].str.replace("Category:", "")
pages_per_categories['cats'] = pages_per_categories['cats'].str.replace(";", "")
pages_per_categories['cats'] = pages_per_categories['cats'].str.replace("_", " ")

print(pages_per_categories)

                                                  cats  \
0                                         Buprestoidea
1                                People from Worcester
2      Skin conditions resulting from physical factors
3                                     Visual kei bands
4                           Japanese rock music groups
...                                                ...
17359                   British science fiction novels
17360                           Television soundtracks
17361                         Diptera of North America
17362                                  Diptera of Asia
17363                                       Tachinidae

                                                   pages
0      301 302 303 304 305 306 307 308 309 310 311 31...
1      1056 1057 1058 1059 1060 60971 76515 76871 780...
2      971 973 1166 1167 1168 1169 1170 1171 1172 117...
3      1297 1300 1311 1312 1313 1314 1315 1316 1319 1...
4      1297 1300 1313 1314 1315 1316 1319 1320 1322 1...
...                                                  ...
17359  16110 24545 39814 67923 108629 108630 108631 1...
17360  1117 110192 110376 110377 110380 110395 137001...
17361  279 280 283 31110 31129 31133 31138 31139 3114...
17362  279 31129 31133 31134 31135 31136 31137 31138 ...
17363  429765 429776 860398 1427707 1427710 1427711 1...

[17364 rows x 2 columns]